HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

.vs/

### Environment files ###
*.env

node_modules/

src/main/webapp/resources/admin/js/
src/main/webapp/resources/admin/css/
src/main/webapp/resources/client/js/
src/main/webapp/resources/client/css/
src/main/webapp/resources/shared/js/
src/main/webapp/resources/shared/css/